@font-face {
  font-family: "TT Fors Trial DemiBold";
  src: url("./assets/fonts/tt_fors/TT\ Fors\ Trial\ DemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "TT Fors Trial Regular";
  src: url("./assets/fonts/tt_fors/TT\ Fors\ Trial\ Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
}
.navbar {
  padding: 1rem 3rem 1rem 3rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f3f0eb;
  position: sticky;
  width: 100vw;
}

.navbar h5 {
  font-weight: bold;
  font-family: "TT Fors Trial DemiBold", sans-serif;
  margin: 0;
}

.navbar .navLinks {
  list-style: none;
  margin: 0;
}

.navbar .navLinks li, select {
  display: inline;
  margin-right: 15px;
  font-family: "TT Fors Trial Regular", sans-serif;
  cursor: pointer;
}

.navbar .navIcons {
  width: fit-content;
  display: flex;
  gap: 2rem;
}

.navbar .navIcons button {
  font-family: "TT Fors Trial DemiBold", sans-serif;
  background: none;
  border: none;
}

.iconWithSpan {
  position: relative;
  display: inline-block;
}

.spanHover {
  position: absolute;
  top: -10px;       /* Adjust vertical position */
  right: -10px;     /* Adjust horizontal position */
  background-color: black;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.heroSection {
  background-color: #f3f0eb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 500px;
  width: 100vw;
}
.heroSection .heroText {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: center;
  padding: 3rem;
}

.heroSection .heroText h2 {
  font-family: "TT Fors Trial DemiBold", sans-serif;
  font-size: 3rem;
}

.heroSection .heroText p, .productName{
  display: inline-flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
  font-family: "TT Fors Trial DemiBold", sans-serif;
}

.heroSection .heroText #previous {
  cursor: pointer;
}

.heroSection .heroText #current, .productPrice {
  font-family: "TT Fors Trial Regular", sans-serif;
  color: #888888;
  font-size: normal;
  cursor: pointer;
}

.heroSection .heroText #previous:hover,
.heroSection .heroText #current:hover {
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}

.productsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem 3rem 2rem 3rem;
  /* background-color: #ffffff; */
}

.productCard{
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.productCard img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.colorCircle{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  border: 1px solid #ccc;
}
